@model ReservationCinema.Models.Seance

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Seance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Tarif" class="control-label"></label>
                <input asp-for="Tarif" class="form-control" />
                <span asp-validation-for="Tarif" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FilmId" class="control-label"></label>
                <input asp-for="FilmId" class="form-control" />
                <span asp-validation-for="FilmId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HoraireId" class="control-label"></label>
                <input asp-for="HoraireId" class="form-control" />
                <span asp-validation-for="HoraireId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SalleId" class="control-label"></label>
                <input asp-for="SalleId" class="form-control" />
                <span asp-validation-for="SalleId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Film" class="control-label"></label>
                <input asp-for="Film" class="form-control" />
                <span asp-validation-for="Film" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Horaire" class="control-label"></label>
                <input asp-for="Horaire" class="form-control" />
                <span asp-validation-for="Horaire" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Salle" class="control-label"></label>
                <input asp-for="Salle" class="form-control" />
                <span asp-validation-for="Salle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
